.BuildAreaWrapper {
    flex: 1 1 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: crimson;
    height: 100vh;
}

.FormArea {
    color: black;
    background-color: wheat;
    margin: 1rem;
    flex: 1 1 40rem;
    overflow: scroll;
}

.InputElementWrapper {
    margin: 1rem;
    box-shadow: 5px 5px 10px darkgray;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CoreElement {
    padding: 0.5rem;
}

.handleConfig {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.RenderProperties {
    flex: 0 1 30vw;
}