.InputSelectorLeftBarWrapper {
    flex: 1 1 15vw;
    overflow: scroll;
    background-color: chocolate;
    height: 91vh;
    padding: 2rem 0rem;
}

.InputTypeContainer {
    margin: 0.5rem;
    padding: 0.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    border: 2px solid white;
    justify-content: space-between;
}

.addBtn:hover {
    background-color: darkgray;
}

.PreviewButton {
    background-color: #5860d7;
}

.SaveButton {
    background-color: #5860d7;
}

.previewSave {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    justify-content: center;
    gap: 1rem;
}